{{#section 'title'}}
<title>Register</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<style>
  .form-group{
    width: 55%;
    margin: auto;
    margin-bottom: 20px;
  }
.main-form{
  width: 500px;
  margin: 10px auto;
  background: mintcream;
  border-radius: 20px;
}
</style>
{{/section}}

{{#section 'js'}}
<script 
src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

  $('#frmRegister').on('submit', function(e){ //lỗi


    const email=$('#txtEmail').val();
    if(email.length===0){
      alert('Please fill in your Email.');
      return;
    }

    $.getJSON(`/account/is-available?Email=${txtEmail}`, function(data){
      console.log(data)
      if(data === true){
        $('#frmRegister').off('submit').submit();
      }else{
        alert('This Email has been chosen.');
      }
    })

    e.preventDefault();
  });

  $('#frmRegister').on('submit', function(e){
    const password=$('#txtPassword').val();
    const confirm=$('txtPasswordConfirm').val();
    if(password!== confirm){
      alert('Check out your password.');
      e.preventDefault();
    }
  });
  
  $('#frmRegister').on('submit', function(e){
    const password=$('#txtPassword').val();
    const confirm=$('txtPasswordConfirm').val();
    if(password!== confirm){
      alert('Check out your password.');
      e.preventDefault();
    }
  });

  $('#frmRegister').on('submit', function(e){
    const name=$('#txtName').val();
    if(name.length===0){
      alert('Please fill in your name.');
      e.preventDefault();
    }
  });

  $('#frmRegister').on('submit', function(e){
    const email=$('#txtEmail').val();
    if(email.length===0){
      alert('Please fill in your email.');
      e.preventDefault();
    }
  });
</script>
{{/section}}

<div class="card">
  <h5 class="card-header text-center" ><b>Register</b></h5>
  <div class="card-body">
    <form class ="main-form" action="" method="post" id="frmRegister">
      <div class="form-group">
        <label for="txtEmail"><b>Email</b></label>
        <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="txtPassword"><b>Password</b></label>
        <input type="password" class="form-control" id="txtPass" name="Password" placeholder="Enter your Password">
      </div>
      <div class="form-group">
        <label for="txtPasswordConfirm"><b>Confirm password</b></label>
        <input type="password" class="form-control" id="txtPassConfirm" placeholder="Enter your Password again">
      </div>
      <div class="form-group">
        <label for="txtName"><b>Name</b></label>
        <input type="text" class="form-control" id="txtName" name="Name" placeholder="Enter your Name">
      </div>
      <button type="submit" class="btn btn-outline-sucess text-center" style="width:100%; text-align:center">
        <aname="" id="" class="btn btn-primary mt-3" href="" role="button">Register</a>
      </button>
    </form>
  </div>
</div>