{{#section 'title'}}
<title>Login</title>
{{/section}}

{{#section 'css'}}
<style>
body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

.main-form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: auto;}

.form-group{
    margin-bottom: 20px;
    border-radius: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-group-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 7px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 6px 18px;
  background-color: #f44336;
  border-radius: 10px;
}

.container {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.password {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
{{/section}}

{{#if err_message}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>
{{/if}}

<form class="main-form" action="" method="post">

<h2 style="padding-left:45%"><b>Verify</b></h2>
    <div class="form-group">
        <label for="OTP"><b>Email</b></label>
        <input type="text" placeholder="Enter OTP" name="OTP" required autofocus>
    </div>
    <div class="form-group-button">
        <button class="form-group-button" type="submit">Commit</button>
    </div>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="password">Forgot <a href="#">password?</a></span>
  </div>
</form>