<div class="container-fluid bg-dark text-light p-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h5>Đồ án phát triển ứng dụng web</h5>
        <h6>Online academy</h6>
      </div>
      <div class="col-4">
        <h6>Thành viên nhóm</h5>
        <ul class="mb-0">
          <li>abc</li>
          <li>abc</li>
          <li>abc</li>
        </ul>
      </div>
    </div>
  </div>
</div>