<div class="container-fluid bg-dark text-light p-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h5>Đồ án phát triển ứng dụng web</h5>
        <h6>Online academy</h6>
      </div>
      <div class="col-md-5">
        <h6>Thành viên nhóm</h6>
        <ul class="mb-0">
          <li>18120237 - Bạch Tăng Thắng</li>
          <li>18120355 - Lê Nguyên Hào</li>
          <li>18120367 - Trần Nhật Hiệp</li>
        </ul>
      </div>
    </div>
  </div>
</div>